# Database
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=whaleorder

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT
JWT_SECRET=

# Kakao OAuth2
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
